@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,400;1,100&display=swap');

:root{
    --primary-color:#765827;
    --secondary-color:#C8AE7D;
    --text-color: #fff;
    --hover-color: #EAC696;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

nav.menu {
    background: var(--secondary-color);
    height: 80px;
}
.menu .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul.nav-bar{
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.nav-bar li{
    margin-top: 20px;
}

.menu li{
    list-style: none;
    margin-right: 10px;
    padding: 10px 5px;
    width: 120px;
    }
.menu li:hover {
    background: var(--primary-color);
    color: white;
    border-radius: 10px;
    z-index: 5;
}
.menu li a{
    color: #fff;
    text-decoration: none;
}
.menu li ul li{
    display:none;
    width: 100px ;
    margin-top: 10px;
}
.menu li:hover ul li{
    display: block;
    border-bottom: 1px solid #6d6d6d;
}

.menu li:hover ul li:last-child {
    border: none;
}

ul.sub-menu li a:hover{
    color:var(--secondary-color);
}

/* search style */

.search{
    display: flex;
    justify-content: left;
    margin-left: 150px;
    margin-top: -55px;
}

.search input{
    width: 15%;
    padding: 10px 0px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    
}

.btn-search{
    padding: 0px 20px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: var(--hover-color);
}

.btn-search:hover{
    background-color: #f4d4aa;
    cursor: pointer;
}

/* icon style */
.icon{
    display: flex;
    justify-content: right;
    margin-right: 120px;
}

.icon i{
    padding: 0px 10px;
}

.icon li{
    list-style: none;
    padding: 0px 10px;
    margin-top: -30px;
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
}

.icon li a{
    text-decoration: none;
    color: white;
}

.list-icon i:hover{
    color: #765827;
}


/* banner design */
.banner{
    z-index: -1;
    margin-top: 100px;
}

.parent {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: repeat(2, 2fr, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    /* Dòng này là phân cấu trúc cột grid  */
    grid-template-areas: 
    "aa  bb"
    "aa  bb";
    }
.banner-big{
    grid-area: aa;
}
.banner-small img{
    width: 400px;
    z-index: -1;
    margin-top: 70px;
    height: 200px;
}
.image img{
    width: 400px;
    height: 150px;
    margin-top: -120px;
}


#slideshow{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.canGiuaNut1{
    margin-left: 45% ;
    margin-bottom: 50px;
    font-size: 1.4rem;
}
.canGiuaNut2{
    font-size: 1.4rem;
    margin-left: 20px;
}
#title{
    text-align: center;
    color: black;
    font-size: 1.3rem;
    margin: 25px 0px;
    position: relative;
    bottom: 50px;
    left: 460px;
    border-radius: 5px;
    max-width: 70px;
    
}
.color1{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    position: relative;
    bottom: 310px;
    right: 340px;
    background-color: black;
    cursor: pointer;
}
.color2{
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    position: relative;
    bottom: 310px;
    left: 320px;
    background-color: black;
    cursor: pointer;
}

.title-banner{
    font-size: 1.7rem;
    font-weight: bold;
    position: absolute;
    top:150px;
    left: 80px;
    margin-bottom: 50px;
    color: var(--primary-color);
}

.mySlides {
    display:none; 
}



/* footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #44bae8;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
} */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




